<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stc.sns.visualization.mybatis.mapper.DataZoomMapper">
    <select id="searchChannelCollectionByDays" resultType="DataZoomChartVO" parameterType="BaseRequestParamVO">
        SELECT  BASE_DATE       AS xAxis,
                CHNL_LCLS_NM    AS series,
                CHN_CNT         AS seriesValue
        FROM (
                SELECT X.CHNL_LCLS_NM, X.BASE_DATE, NVL(Y.CHN_CNT, 0) AS CHN_CNT
                FROM (
                        SELECT  Y.CHNL_LCLS_CD, Y.CHNL_LCLS_NM, X.NO, TO_CHAR(SYSDATE - NO, 'YYYYMMDD') AS BASE_DATE
                        FROM    BIG_TPC_NO X,
                                BIG_LCLS_CHNL Y
                        WHERE   Y.CHNL_LCLS_CD = #{chnlCd}

                    ) X,
                    (
                        SELECT  Y.CHNL_LCLS_CD, Y.BASE_DATE, COUNT(X.CLC_DOC_NUM) AS CHN_CNT
                        FROM    BIG_TPC_TXT_ANAL X,
                                BIG_TPC_RST Y,
                                BIG_TPC_MST M
                        WHERE   X.CLC_DOC_NUM = Y.CLC_DOC_NUM
                            AND Y.ASK_NUM = M.ASK_NUM
                            AND X.WRD_NM = #{keyword}
                            AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
                            AND M.CUST_ID = #{custId}
                            AND M.USE_YN = 'Y'
                        GROUP BY Y.CHNL_LCLS_CD, Y.BASE_DATE
                ) Y
                WHERE   X.BASE_DATE = Y.BASE_DATE(+)
                    AND X.CHNL_LCLS_CD = Y.CHNL_LCLS_CD(+)
            )
        WHERE BASE_DATE BETWEEN #{startDate} AND #{endDate}
        ORDER BY BASE_DATE, CHNL_LCLS_NM
    </select>

    <select id="searchChannelDetailCollectionByDays" resultType="DataZoomChartVO" parameterType="BaseRequestParamVO">
        SELECT  BASE_DATE       AS xAxis,
                CHNL_MCLS_NM    AS series,
                CHN_CNT         AS seriesValue
        FROM (
                SELECT X.CHNL_MCLS_NM, X.BASE_DATE, NVL(Y.CHN_CNT, 0) AS CHN_CNT
                FROM (
                        SELECT  Y.CHNL_MCLS_CD, Y.CHNL_MCLS_NM, X.NO, TO_CHAR(SYSDATE - NO, 'YYYYMMDD') AS BASE_DATE
                        FROM    BIG_TPC_NO X,
                                BIG_MCLS_CHNL Y
                        WHERE   Y.CHNL_MCLS_CD = #{chnlCd}

                    ) X,
                    (
                        SELECT  Y.CHNL_MCLS_CD, Y.BASE_DATE, COUNT(X.CLC_DOC_NUM) AS CHN_CNT
                        FROM    BIG_TPC_TXT_ANAL X,
                                BIG_TPC_RST Y,
                                BIG_TPC_MST M
                        WHERE   X.CLC_DOC_NUM = Y.CLC_DOC_NUM
                            AND Y.ASK_NUM = M.ASK_NUM
                            AND X.WRD_NM = #{keyword}
                            AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
                            AND M.CUST_ID = #{custId}
                            AND M.USE_YN = 'Y'
                        GROUP BY Y.CHNL_MCLS_CD, Y.BASE_DATE
                ) Y
                WHERE   X.BASE_DATE = Y.BASE_DATE(+)
                    AND X.CHNL_MCLS_CD = Y.CHNL_MCLS_CD(+)
            )
        WHERE BASE_DATE BETWEEN #{startDate} AND #{endDate}
        ORDER BY BASE_DATE, CHNL_MCLS_NM
    </select>
</mapper>