<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stc.sns.visualization.mybatis.mapper.PieMapper">
    <select id="searchChannelTotalByKeyword" resultType="BaseChartVO" parameterType="BaseRequestParamVO">
        SELECT  Z.CHNL_LCLS_NM1         AS name
                , COUNT(X.CLC_DOC_NUM)  AS value
        FROM    BIG_TPC_TXT_ANAL X,
                BIG_TPC_RST Y,
                BIG_TPC_MST M,
                BIG_LCLS_CHNL Z
        WHERE   X.CLC_DOC_NUM  = Y.CLC_DOC_NUM
            AND Y.CHNL_LCLS_CD = Z.CHNL_LCLS_CD
            AND Y.ASK_NUM      = M.ASK_NUM
        <if test="channels.size > 0">
            AND Y.CHNL_LCLS_CD IN
            <foreach collection="channels" item="channel" index="index" open="(" separator="," close=")">
                #{channel}
            </foreach>
        </if>
        <choose>
            <when test="analyzeKeywords != null and analyzeKeywords.size > 0">
                AND X.WRD_NM IN
                <foreach collection="analyzeKeywords" item="analyzeKeyword" index="index" open="(" separator="," close=")">
                    #{analyzeKeyword}
                </foreach>
            </when>
            <otherwise>
                AND X.WRD_NM = #{keyword}
            </otherwise>
        </choose>
            AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
            AND M.CUST_ID      = #{custId}
            AND M.USE_YN       = 'Y'
        GROUP BY Z.CHNL_LCLS_NM1, Z.DSP_ORD
        ORDER BY Z.DSP_ORD
    </select>

    <select id="searchChannelDetailTotalByKeyword" resultType="BaseChartVO" parameterType="BaseRequestParamVO">
        SELECT  Z.CHNL_MCLS_NM          AS name
                , COUNT(X.CLC_DOC_NUM)  AS value
        FROM    BIG_TPC_TXT_ANAL X,
                BIG_TPC_RST Y,
                BIG_TPC_MST M,
                BIG_MCLS_CHNL Z
        WHERE   X.CLC_DOC_NUM  = Y.CLC_DOC_NUM
            AND Y.CHNL_LCLS_CD = #{chnlCd}
            AND Y.CHNL_MCLS_CD = Z.CHNL_MCLS_CD
            AND Y.ASK_NUM      = M.ASK_NUM
        <choose>
            <when test="analyzeKeywords != null and analyzeKeywords.size > 0">
                AND X.WRD_NM IN
                <foreach collection="analyzeKeywords" item="analyzeKeyword" index="index" open="(" separator="," close=")">
                    #{analyzeKeyword}
                </foreach>
            </when>
            <otherwise>
                AND X.WRD_NM = #{keyword}
            </otherwise>
        </choose>
            AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
            AND M.CUST_ID      = #{custId}
            AND M.USE_YN       = 'Y'
        GROUP BY Z.CHNL_MCLS_NM, Z.DSP_ORD
        ORDER BY Z.DSP_ORD
    </select>



</mapper>