<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stc.sns.visualization.mybatis.mapper.WordCloudMapper">
    <select id="searchKeywords" resultType="BaseChartVO" parameterType="BaseRequestParamVO">
        SELECT  WRD_NM      AS name
                , DOC_CNT   AS value
          FROM (
                SELECT YY.WRD_NM, COUNT(XX.CLC_DOC_NUM) AS DOC_CNT
                  FROM (
                        SELECT X.CLC_DOC_NUM
                          FROM BIG_TPC_TXT_ANAL X,
                               BIG_TPC_RST Y,
                               BIG_TPC_MST M
                         WHERE X.CLC_DOC_NUM  = Y.CLC_DOC_NUM
                            AND Y.ASK_NUM      = M.ASK_NUM
                    <choose>
                        <when test="analyzeKeywords != null and analyzeKeywords.size > 0">
                            AND X.WRD_NM IN
                            <foreach collection="analyzeKeywords" item="analyzeKeyword" index="index" open="(" separator="," close=")">
                                #{analyzeKeyword}
                            </foreach>
                        </when>
                        <otherwise>
                            AND X.WRD_NM = #{keyword}
                        </otherwise>
                    </choose>
                    <choose>
                        <when test="channels != null and channels.size > 0">
                            AND Y.CHNL_LCLS_CD IN
                            <foreach collection="channels" item="channel" index="index" open="(" separator="," close=")">
                                #{channel}
                            </foreach>
                        </when>
                        <otherwise>
                            AND Y.CHNL_LCLS_CD = #{chnlCd}
                        </otherwise>
                    </choose>
                            AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
                            AND M.CUST_ID      = #{custId}
                            AND M.USE_YN       = 'Y'
                       ) XX,
                       BIG_TPC_TXT_ANAL YY
                 WHERE XX.CLC_DOC_NUM = YY.CLC_DOC_NUM
                <if test="excludeKeywords.size > 0">
                   AND YY.WRD_NM NOT IN
                    <foreach collection="excludeKeywords" item="excludeKeyword" index="index" open="(" separator="," close=")">
                        #{excludeKeyword}
                    </foreach>
                </if>
                 GROUP BY YY.WRD_NM
                 ORDER BY COUNT(XX.CLC_DOC_NUM) DESC
              )

         WHERE ROWNUM <![CDATA[<]]> 201
    </select>

    <select id="searchKeywordByWord" resultType="BaseChartVO" parameterType="BaseRequestParamVO">
        SELECT  WRD_NM      AS name
                , DOC_CNT   AS value
        FROM (
                SELECT  YY.WRD_NM, COUNT(XX.CLC_DOC_NUM) AS DOC_CNT
                FROM    (
                        SELECT  X.CLC_DOC_NUM
                        FROM    BIG_TPC_TXT_ANAL X,
                                BIG_TPC_RST Y,
                                BIG_TPC_MST M
                        WHERE   X.CLC_DOC_NUM  = Y.CLC_DOC_NUM
                            AND Y.ASK_NUM      = M.ASK_NUM
                    <choose>
                        <when test="analyzeKeywords != null and analyzeKeywords.size > 0">
                            AND X.WRD_NM IN
                            <foreach collection="analyzeKeywords" item="analyzeKeyword" index="index" open="(" separator="," close=")">
                                #{analyzeKeyword}
                            </foreach>
                        </when>
                        <otherwise>
                            AND X.WRD_NM = #{subKeyword}
                        </otherwise>
                    </choose>
                    <choose>
                        <when test="channels != null and channels.size > 0">
                            AND Y.CHNL_LCLS_CD IN
                            <foreach collection="channels" item="channel" index="index" open="(" separator="," close=")">
                                #{channel}
                            </foreach>
                        </when>
                        <otherwise>
                            AND Y.CHNL_LCLS_CD = #{chnlCd}
                        </otherwise>
                    </choose>
                            AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
                            AND M.CUST_ID      = #{custId}
                            AND M.USE_YN       = 'Y'
                        ) XX,
                        BIG_TPC_TXT_ANAL YY
                WHERE   XX.CLC_DOC_NUM = YY.CLC_DOC_NUM
                    <if test="excludeKeywords.size > 0">
                        AND YY.WRD_NM NOT IN
                        <foreach collection="excludeKeywords" item="excludeKeyword" index="index" open="(" separator="," close=")">
                            #{excludeKeyword}
                        </foreach>
                    </if>
                GROUP BY YY.WRD_NM
                ORDER BY COUNT(XX.CLC_DOC_NUM) DESC
        )
        WHERE ROWNUM <![CDATA[<]]> 6
    </select>
</mapper>