<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stc.sns.visualization.mybatis.mapper.CommonMapper">

    <select id="countKeywords" resultType="int" parameterType="BaseRequestParamVO">
        SELECT  COUNT(X.CLC_DOC_NUM) AS CNT
        FROM    BIG_TPC_TXT_ANAL X,
                BIG_TPC_RST Y,
                BIG_TPC_MST M
        WHERE   X.CLC_DOC_NUM  = Y.CLC_DOC_NUM
            AND Y.ASK_NUM      = M.ASK_NUM
            AND X.WRD_NM = #{keyword}
        <choose>
            <when test="channels != null and channels.size > 0">
                AND Y.CHNL_LCLS_CD IN
                <foreach collection="channels" item="channel" index="index" open="(" separator="," close=")">
                    #{channel}
                </foreach>
            </when>
            <otherwise>
                AND Y.CHNL_LCLS_CD = #{chnlCd}
            </otherwise>
        </choose>
        AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
        AND M.CUST_ID      = #{custId}
        AND M.USE_YN       = 'Y'
    </select>

    <select id="countKeywordByWord" resultType="int" parameterType="BaseRequestParamVO">
        SELECT  COUNT(X.CLC_DOC_NUM) AS CNT
        FROM    BIG_TPC_TXT_ANAL X,
                BIG_TPC_RST Y,
                BIG_TPC_MST M
        WHERE   X.CLC_DOC_NUM  = Y.CLC_DOC_NUM
            AND Y.ASK_NUM      = M.ASK_NUM
            AND X.WRD_NM = #{subKeyword}
        <choose>
            <when test="channels != null and channels.size > 0">
                AND Y.CHNL_LCLS_CD IN
                <foreach collection="channels" item="channel" index="index" open="(" separator="," close=")">
                    #{channel}
                </foreach>
            </when>
            <otherwise>
                AND Y.CHNL_LCLS_CD = #{chnlCd}
            </otherwise>
        </choose>
        AND Y.BASE_DATE BETWEEN #{startDate} AND #{endDate}
        AND M.CUST_ID      = #{custId}
        AND M.USE_YN       = 'Y'
    </select>
</mapper>


